<div class="container">
    <div class="jumbtron">
        <h1 class="display-4 text-center">CRUD en Angular</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills" style="display: inline-block;">
                    <li class="nav-item">
                      <a  class="nav-link" routerLinkActive="active" routerLink="/user">Liste des utilisateurs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  routerLinkActive="active" routerLink="/add-user" >Ajout d'utilisateur</a>
                    </li>
                  </ul>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
